{% extends 'notes/base.html' %}

{% block title %}
    Add subtask
{% endblock %}

{% block body %}
    <h1>Add subtask for note(id={{ note_id }})</h1>
    <p>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control">
        </p>
        <button type="submit" class="btn btn-primary">
            add
        </button>
    </form>
    </p>
    <p>
    <form action="{% url 'notes:add_subtask' %}">
        <button type="submit" class="btn btn-warning">
            Back to previous page
        </button>
    </form>
    </p>
    <p>
    <form action="{% url 'notes:all_notes' %}">
        <button type="submit" class="btn btn-secondary">
            Back to main page
        </button>
    </form>
    </p>
{% endblock %}