{% extends 'notes/base.html' %}

{% block title %}
    ADD SUBS
{% endblock %}

{% block body %}
    <h1>Add subtask:</h1>
    <p>
    <form method="post">
        {% csrf_token %}
        <ul>
            {% for note in notes %}
                <li>
                    <input type="checkbox" name="is_selected" value="{{ note.id }}" class="form-check-input">
                    {{ note.title }}
                </li>
            {% endfor %}
        </ul>
        <button type="submit" class="btn btn-primary">
            add
        </button>
    </form>
    </p>
    <p>
    <form action="{% url 'notes:all_notes' %}">
        <button type="submit" class="btn btn-secondary">
            Back to main
        </button>
    </form>
    </p>
{% endblock %}