{% extends 'notes/base.html' %}

{% block title %}
    All Notes
{% endblock %}

{% block body %}
    <h1>All notes:</h1>
    <p>
    <ul>
        {% for note in notes %}
            {% if note.subtasks_set.all %}
                <li>
                    {{ note.title }}
                    <ul>
                        {% for subtask in note.subtasks_set.all %}
                            <li>{{ subtask.title }}</li>
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li>{{ note.title }}</li>
            {% endif %}
        {% endfor %}
    </ul>
    </p>
    <p>
    <form action="{% url 'notes:create_note' %}">
        <button type="submit" class="btn btn-success">Create a new one</button>
    </form>
    </p>
    <p>
    <form action="{% url 'notes:delete_selected' %}">
        <button type="submit" class="btn btn-danger">Delete</button>
    </form>
    </p>
    </p>
    <p>
    <form action="{% url 'notes:add_subtask' %}">
        <button type="submit" class="btn btn-info">add sub</button>
    </form>
    </p>
{% endblock %}