{% extends 'notes/base.html' %}

{% block title %}
    Create Note
{% endblock %}

{% block body %}
    <h1>Create note</h1>
    <p>
    <form method="post">
        {% csrf_token %}
        <p>
            <label for="title" class="form-label">Title</label>
            <input type="text" id="title" class="form-control" name="title">
        </p>
        <button type="submit" class="btn btn-success">
            Create
        </button>
    </form>
    </p>
    <p>
    <form action="{% url 'notes:all_notes' %}">
        <button type="submit" class="btn btn-secondary">
            Back to notes
        </button>
    </form>
    </p>
{% endblock %}